<div class="basic-container">
  <mat-card class="form-card">
    <div class="mat-card-header">
      <div class="mat-card-title">Add Campaign</div>
    </div>

    <form [formGroup]="campaignForm" (ngSubmit)="onSubmit(campaignForm.value)">
      <mat-form-field>
        <input id="campaignName" formControlName="campaignName" matInput placeholder="Campaign Name">
      </mat-form-field>

      <mat-form-field>
        <input id="maxCountPerUser" formControlName="maxCountPerUser" type="number" matInput placeholder="Max Count Per User">
      </mat-form-field>

      <mat-form-field>
        <input id="maxCount" formControlName="maxCount" type="number" matInput placeholder="Max Count">
      </mat-form-field>

      <button mat-raised-button class="button" type="submit">Add</button>
    </form>
  </mat-card>
</div>
